@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import 'common/master';

html,body {
    width: 100%;
    height: 100%;
    padding: 2em;
}

body {
    background: #788;
}

section {
    display:block;
    overflow:hidden;
}
section#control {
    width: 460px;
    height: 132px;
    margin:0 auto;
}
section#chat {
    padding-top:1rem;
    width: 460px;
    background: rgba(255,255,255, 0.1);
    margin: 0 auto;
    height: 500px;
}
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 5em;
    text-shadow: 0.04em 0.04em 0px #566;
    color: #EFF;
    display: block;
    width: auto;
    height: auto;
    text-align:center;
    margin:0;
    line-height:1.2em;
}

 .audiojsZ audio {
     position: absolute;
     left: -1px;
 }
 .audiojsZ {
     width       : 460px;
     height      : 36px;
     background  : #333;
     overflow    : hidden;
     font-family : monospace;
     font-size   : 12px;
     box-shadow  : 1px 1px 8px rgba(0, 0, 0, 0.3);
 }
 .audiojsZ .play-pauseZ {
     width: 25px;
     height: 40px;
     padding: 4px 6px;
     margin: 0px;
     float: left;
     overflow: hidden;
     border-right: 1px solid #111;
 }
 .audiojsZ p {
     display: none;
     width: 25px;
     height: 40px;
     margin: 0px;
     cursor: pointer;
 }
 .audiojsZ .playZ {
     display: block;
 }
 .audiojsZ .scrubberZ {
     position: relative;
     float: left;
     width: 280px;
     background: #fff;
     height: 14px;
     margin: 10px;
     border-left: 0px;
     border-bottom: 0px;
     overflow: hidden;
 }
 .audiojsZ .progressZ {
     position: absolute;
     top: 0px;
     left: 0px;
     height: 14px;
     width: 0px;
     background: #fff;
     z-index: 1;
 }
 .audiojsZ .loadedZ {
     position: absolute;
     top: 0px;
     left: 0px;
     height: 14px;
     width: 0px;
     background: #000;
 }
 .audiojsZ .timeZ {
     float: left;
     height: 36px;
     line-height: 36px;
     margin: 0px 0px 0px 6px;
     padding: 0px 6px 0px 12px;
     border-left: 1px solid #fff;
     color: #ccc;
     text-shadow: 1px 1px 0px #000;
 }
 .audiojsZ .timeZ em {
     padding: 0px 2px 0px 0px;
     color: #fff;
     font-style: normal;
 }
 .audiojsZ .timeZ strong {
     padding: 0px 0px 0px 2px;
     font-weight: normal;
 }
 .audiojsZ .error-messageZ {
     float: left;
     display: none;
     margin: 0px 10px;
     height: 36px;
     width: 400px;
     overflow: hidden;
     line-height: 36px;
     white-space: nowrap;
     color: #fff;
     text-overflow: ellipsis;
 }
 .audiojsZ .error-messageZ a {
     color: #eee;
     text-decoration: none;
     padding-bottom: 1px;
     border-bottom: 1px solid #999;
     white-space: wrap;
 }
 .audiojsZ .playZ {
     background: url('/static/js/audiojs/player-graphics.gif') -2px -1px no-repeat;
 }
 .audiojsZ .loadingZ {
     background: url('/static/js/audiojs/player-graphics.gif') -2px -31px no-repeat;
 }
 .audiojsZ .errorZ {
     background: url('/static/js/audiojs/player-graphics.gif') -2px -61px no-repeat;
 }
 .audiojsZ .pauseZ {
     background: url('/static/js/audiojs/player-graphics.gif') -2px -91px no-repeat;
 }
 .playingZ .playZ,
 .playingZ .loadingZ,
 .playingZ .errorZ {
     display: none;
 }
 .playingZ .pauseZ {
     display: block;
 }
 .loadingZ .playZ,
 .loadingZ .pauseZ,
 .loadingZ .errorZ {
     display: none;
 }
 .loadingZ .loadingZ {
     display: block;
 }
 .errorZ .timeZ,
 .errorZ .playZ,
 .errorZ .pauseZ,
 .errorZ .scrubberZ,
 .errorZ .loadingZ {
     display: none;
 }
 .errorZ .errorZ {
     display: block;
 }
 .errorZ .play-pauseZ p {
     cursor: auto;
 }
 .errorZ .error-messageZ {
     display: block;
 }
