{% extends 'common/master/index.html' %}
{% block body %}

    <div id="video">
        <img type="{{video.fallback.type}}" src="{{video.fallback.href}}" alt="">
        <video
            {% if video.config.controls %}controls{% endif %}
            {% if video.config.autoplay %}autoplay{% endif %}
            {% if video.config.loop %}loop{% endif %}>
            {% for source in video.sources %}
                <source type="{{source.type}}" src="{{source.href}}"></source>
            {% endfor %}
        </video>
    </div>

    <div id="logo">
        <object type="{{logo.type}}" data="{{logo.href}}"></object>
    </div>

{% endblock %}
