<!DOCTYPE html>
<!--[if lt IE 10]><html class="ie-fallback" lang="es"><![endif]-->
<!--[if !IE]><!--><html lang="es"><!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        {% block head %}
            <title>{{ TITLE }}</title>
        {% endblock %}
        {% for link in LINKS %}
            <link
                {% if link.rel  %} rel ="{{link.rel}}"  {% endif %}
                {% if link.type %} type="{{link.type}}" {% endif %}
                {% if link.href %} href="{{link.href}}" {% endif %}
            >
        {% endfor %}
    </head>
    <body>

        <main>
            {% block body %}
            {% endblock %}
        </main>

        {% for script in SCRIPTS %}
            <script type="{{script.type}}" src="{{script.href}}"></script>
        {% endfor %}

    </body>
</html>
